@font-face {
  font-family: 'Museo_100';
  src: url('./assets/fonts/MuseoSansCyrl_100.otf') format('opentype');
}
@font-face {
  font-family: 'Museo_300';
  src: url('./assets/fonts/MuseoSansCyrl_300.otf') format('opentype');
}
@font-face {
  font-family: 'Museo_500';
  src: url('./assets/fonts/MuseoSansCyrl_500.otf') format('opentype');
}
@font-face {
  font-family: 'Museo_700';
  src: url('./assets/fonts/MuseoSansCyrl_700.otf') format('opentype');
}